# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Docker
*.env

# Executables
*.exe
*.out
*.app

build/
install/
log/

obk_logs/
.env

# python
__pycache__/
*.egg-info/

# vscode
.vscode/

# copies of files
docker/README.md
docker/pyproject.toml
docker/.cro_aliases
docker/cro

# mujoco
MUJOCO_LOG.TXT

# data
*.h5
experiments
